#login-page, #signup-page
{
	margin: auto;
}

#login-window, #signup-window
{
	max-width: 420px;
	width: 100vw;
	min-height: 400px;
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	margin-bottom: 1rem;
	padding: 1rem 4rem;
}

#login-window .logo, #signup-window .logo
{
	height: 75px;
}

.error-msg
{
	width: 100%;
	background-color: #FFEEEE;
	
	color: #ff0000;
	text-align: center;
	font-weight: bold;

	padding: 1rem 0;
}

.error-msg .link
{
	color: black;
	cursor: pointer;
}

#login-window .info, #signup-window .info
{
	width: 100%;

	display: flex;
	flex-direction: column;
}

#login-window .info input,
#signup-window .info input,
.password-reset-window input,
.verification-window form input
{
	width: 100%;
	background: #FAFAFA;

	padding: 0.5rem;
	margin: 0.125rem 0;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

#login-window .info button,
#signup-window .info button,
.password-reset-window button,
.verification-window button
{
	width: 100%;
	background-color: #ce0000;

	cursor: pointer;
	color: white;
	font-size: 1.25em;
	
	margin-top: 0.5rem;
	padding: 0.25rem 0.25rem;
	border: none;
	border-radius: 5px;
}

#login-page .extra, #signup-page .extra
{
	max-width: 420px;
	width: 100vw;
	height: 100px;
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.extra .button
{
	color: #ce0000;
	font-weight: bold;
}

#email-verification-window
{
	width: 850px;
	height: 500px;
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 5rem 0;
	margin: auto;
}

#email-verification-window .icon
{
	height: 150px;
}

#email-verification-window .header
{
	font-size: 2em;
	font-weight: bold;
}

#email-verification-window p
{
	font-size: 1.125em;

	position: relative;
	bottom: 1rem;
}

.password-reset-window
{
	width: 500px;
	height: 525px;
	background-color: white;

	position: relative;
	bottom: 50px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	padding: 2.5rem 5rem;
	margin: auto;
}
.password-reset-window.success
{
	width: 700px;
	height: 420px;
}

.password-reset-window form
{
	width: 100%;
}
.password-reset-window form input
{
	margin-bottom: 1.25rem;
}
.password-reset-window p
{
	text-align: center;
	line-height: 22.5px;
}
.password-reset-window .extra
{
	width: 100%;
	height: 100px;
	background-color: hsl(0, 0%, 95%);

	position: absolute;
	top: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.password-reset-window .extra a
{
	color: black;
	font-weight: bold;
	font-size: 1.125em;
}

.password-reset-window .icon
{
	height: 125px;
}

.verification-window
{
	width: 750px;
	height: 500px;
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 2.5rem 0;
	margin: auto;
}
.verification-window.password-reset
{
	width: 500px;

	padding: 2rem;
}
.verification-window.password-reset .email-div
{
	text-align: center;
}
.verification-window.password-reset .email-div h2
{
	margin-bottom: 0.5rem;
}
.verification-window.password-reset .email-div span
{
	color: rgba(54, 54, 54, 0.75);
}
.verification-window.password-reset .icon
{
	height: 125px;
}

.verification-window .icon
{
	height: 200px;
}

.verification-window .text-div
{
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	bottom: 50px;
}

.verification-window p
{
	font-size: 1.25em;

	margin-top: 4rem;
}

