.App
{
	min-height: 100%;
	background-color: #FAFAFA;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loading-page
{
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.loading-page .loading
{
	height: 100px;
}

.loading img
{
	animation: loadingFade 0.75s ease-in-out 0s infinite;
}

#main-navbar
{
	width: 100%;
	height: 75px;
	background-color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	padding: 0 4rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#main-navbar .logo
{
	height: 70%;
}

#main-navbar .searchbar-container
{
	position: relative;
}

#main-navbar .searchbar-container .arrow
{
	top: 125%;
	right: 50%;
	margin-right: -5px;
}

#main-navbar .search
{
	width: 240px;
	background-color: #FAFAFA;
	font-size: 1.125em;

	padding: 0.125rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
#main-navbar .search::placeholder
{
	text-align: center;
	position: relative;
}
#main-navbar .search:focus::placeholder
{
	text-align: left;
}
#main-navbar.search:focus-visible
{
	outline: none;
}

#main-navbar .search-list
{
	width: 350px;
	height: 325px;
	max-height: 325px;
	background-color: white;
	overflow-y: auto;
	
	position: absolute;
	top: calc(125% + 5px);
	right: 50%;
	
	margin-right: -162.5px;
	border-radius: 5px;
}

#main-navbar .search-list .recent
{
	height: 50px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

#main-navbar .search-list .loading
{
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12.5px 0 0 -12.5px;
}

#main-navbar .search-list li a
{
	display: flex;
	position: relative;
	padding: 0.5rem 1rem;
}
#main-navbar .search-list li:hover
{
	background-color: rgba(0, 0, 0, 0.025);
}
#main-navbar .search-list li:active
{
	background-color: rgba(0, 0, 0, 0.05);
}

#main-navbar .search-list li .img-container
{
	height: 50px;
	width: 50px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.75rem;
}

#main-navbar .search-list li .info
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#main-navbar .search-list li .info .username
{
	font-weight: bold;
}
#main-navbar .search-list li .info .verified
{
	width: 16px;
	height: 16px;
	margin: auto 0;
	margin-left: 8px;
}
#main-navbar .search-list li .info .real-name
{
	color: #8e8e8e;
}

#main-navbar .search-list .remove
{
	width: 16px;
	height: 16px;
	filter: invert(80%) sepia(0%) saturate(231%) hue-rotate(242deg) brightness(80%) contrast(85%);
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -8px;
}
#main-navbar .search-list .remove svg
{
	width: 100%;
	height: 100%;
}

#main-navbar > ul
{
	width: 200px;
	display: flex;
	justify-content: space-between;
}

#main-navbar > ul li
{
	display: flex;
	align-items: center;
}

#main-navbar > ul li .icon
{
	width: 30px;
	height: 30px;
}

#main-navbar > ul button.add-post
{
	background: transparent;
	padding: 0;
}

#main-navbar input[type="file"]
{
	display: none !important;
}

#main-navbar > ul li.profile
{
	position: relative;
}

#main-navbar li.profile > .icon
{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}

#main-navbar .profile .dropdown-container
{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#main-navbar .profile .dropdown.closed
{
	transform-origin: top;
	animation: fadeOut 0.125s ease-in-out 0s forwards, foldUp 0.125s ease-in-out 0s forwards;
}

#main-navbar .profile .dropdown
{
	width: 225px;
	background-color: white;

	position: absolute;
	top: 125%;
	right: -137.5%;

	border-radius: 7.5px;
}

#main-navbar .profile .dropdown .arrow
{
	right: 22.5%;
	top: -5px;
}

#main-navbar .profile .dropdown ul li
{
	height: 50px;
	padding-left: 1rem;
	position: relative;
	z-index: 999;
}
#main-navbar .profile .dropdown ul li:hover
{
	background-color: rgba(0, 0, 0, 0.025);
}
#main-navbar .profile .dropdown ul li:active
{
	background-color: rgba(0, 0, 0, 0.05);
}

#main-navbar .profile .dropdown ul li a
{
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 0.9em;
	display: flex;
	align-items: center;
}
#main-navbar .profile .dropdown ul li a .icon
{
	width: 24px;
	height: 24px;
	transform: scale(0.9);
	margin-right: 0.5rem;
}

#main-navbar .profile .dropdown ul li.log-out
{
	cursor: pointer;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.new-post
{
	width: 100%;
}
.new-post .header
{
	width: 100%;
	background: white;
	
	font-size: 1em;
	font-weight: bold;

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	position: relative;
	z-index: 99999;

	padding: 0.5rem;
}

.new-post .header .cancel
{
	width: 24px;
	height: 24px;
	color: black;
}
.new-post .header .cancel:active
{
	color: black !important;
}

.new-post .cropper-container
{
	width: 100%;
	height: 400px;
	position: relative;
}
.new-post .cropper-container img
{
	height: initial;
}

.new-post .caption-container
{
	display: flex;
	padding: 1rem;
}

.new-post .caption-container .profile-pic
{
	width: 32px;
	height: 32px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-post .caption
{
	flex-grow: 1;
	background-color: transparent;
	font-size: 1em;
	resize: none;
	margin-left: 1rem;
	border: none;
	outline: none;
}

.home-page
{
	width: 100%;
	padding: 1rem 0;
}
.home-page .posts
{
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	position: relative;
	right: 100px;
	margin: 0 auto;
}
.home-page .older-posts h2
{
	text-align: center;
	font-weight: 500;
	margin-top: 1.25rem;
}

.home-page > .sidebar
{
	position: fixed;
	top: 125px;
	right: 0;
	left: 1300px;
}
.home-page > .sidebar .username
{
	font-weight: bold;
	font-size: 0.85em;
	margin-left: 1rem;
}

.comment
{
	height: 50px;
	min-height: 50px;
	display: flex;
	position: relative;
	margin: 1.75rem 0;
}

.comment .info
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.comment .info .username
{
	font-weight: bold;
	margin-right: 0.5rem;
}
.comment .info .text
{
	font-size: 0.9em;
	word-break: break-word;
}
.comment .info .timestamp
{
	margin-right: 0.5rem;
}
.comment .info .likes
{
	cursor: pointer;
	color: #8e8e8e;
	font-size: 0.75em;
	font-weight: bold;
	margin-right: 0.5rem;
}

.comment .like
{
	position: absolute;
	top: 10px;
	right: 0;
}

.like
{
	cursor: pointer;
}

.like.liked
{
	filter: invert(11%) sepia(85%) saturate(4631%) hue-rotate(356deg) brightness(101%) contrast(113%);
}

.post-cards-container
{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	gap: 1rem;
}

.post-card
{
	position: relative;
}
.post-card .container
{
	position: relative;
	height: 0;
	padding-bottom: 100%;
}
.post-card .container a
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.post-card .hovered
{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}
.post-card .hovered span
{
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin: 0 0.5rem;
}
.post-card .hovered span svg
{
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(104%) contrast(102%);
	margin-right: 0.3rem;
}
.post-card .hovered span svg.comment-bubble
{
	transform: rotateY(180deg);
}

#broken-page
{
	text-align: center;
	margin: 2.5rem 0;
}
#broken-page h1
{
	font-size: 1.75em;
	font-weight: 500;
	margin-bottom: 1rem;
}
#broken-page h2
{
	font-weight: normal;
	font-size: 1.25em;
}

.snackbar
{
	z-index: 99999999999999 !important;
}

@keyframes loadingFade
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0.5;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes fadeOut
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

@keyframes foldUp
{
	100%
	{
		transform: rotateX(45deg);
	}
}

@keyframes popOut
{
	50%
	{
		transform: scale(1.2);
	}
	100%
	{
		transform: scale(1);
	}
}

@media screen and (max-width: 1024px)
{
	.home-page .posts
	{
		right: 0;
	}

	.user-profile .upper .personal-info
	{
		margin: 0;
	}

	.inbox-window.outlined
	{
		margin: 0;
		border-top: none !important;
	}
}

@media screen and (max-width: 768px)
{
	html
	{
		font-size: 14px;
	}
	
	#main-navbar .logo
	{
		height: 50%;
	}

	.searchbar-container .search
	{
		width: 175px !important;
	}

	.user-profile
	{
		padding: 0;
	}

	.user-profile .upper .personal-info .profile-pic
	{
		width: 150px;
		height: 150px;
	}

	.user-profile .post-cards-container
	{
		gap: 4px;
	}

	.account-edit .main > div
	{
		padding: 1rem 2rem;
	}
}

@media screen and (max-width: 600px)
{
	html
	{
		font-size: 13px;
	}

	#main-navbar
	{
		padding: 0 0.75rem;
	}
	#main-navbar ul
	{
		width: 150px;
	}
	#main-navbar ul li > .icon
	{
		width: 25px;
		height: 25px;
	}
	#main-navbar .search-list
	{
		right: 5%;
	}
	#main-navbar .profile .dropdown
	{
		right: -175%;
	}

	.post-window.outlined
	{
		border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
		border-right: none !important;
		border-left: none !important;
	}

	.follow-list-window
	{
		width: 375px;
		margin-left: -187.5px;
	}
	.follow-btn
	{
		width: 50px;
		height: 25px !important;
		font-size: 0.5em;
		padding: 0.25rem 0.5rem;
	}

	.user-profile .upper
	{
		font-size: 0.85em;
	}
	.user-profile .upper .personal-info .profile-pic
	{
		width: 100px;
		height: 100px;
		min-width: 100px;
		min-height: 100px;
	}
	.user-profile .upper .personal-info .info .name .verified
	{
		align-self: center;
		margin: 0;
		width: 15px;
		height: 15px;
	}
	.user-profile .upper .personal-info .info .name .verified svg
	{
		width: 15px;
		height: 15px;
	}

	.account-edit .main > div
	{
		padding: 1rem 0;
	}
}
