.App
{
	height: 100%;
	background-color: #FAFAFA;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading
{
	height: 100px;
}

.loading img
{
	animation: loadingFade 0.75s ease-in-out 0s infinite;
}

#main-navbar
{
	width: 100%;
	height: 75px;
	background-color: white;

	display: flex;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#main-navbar .search
{
	background-color: #FAFAFA;
	font-size: 1.125em;

	padding: 0.125rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
#main-navbar .search::placeholder
{
	text-align: center;
	position: relative;
}
#main-navbar .search:focus::placeholder
{
	text-align: left;
}
.search:focus-visible
{
	outline: none;
}

#main-navbar > ul
{
	width: 12.5%;
	display: flex;
	justify-content: space-between;
}

#main-navbar > ul li
{
	display: flex;
	align-items: center;
}

#main-navbar .logo
{
	height: 70%;
}

#main-navbar li .icon
{
	width: 30px;
	height: 30px;
}

#main-navbar li .icon.profile
{
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}

@keyframes loadingFade
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0.5;
	}
	100%
	{
		opacity: 1;
	}
}
