.App
{
	min-height: 100%;
	background-color: #FAFAFA;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loading-page
{
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.loading-page .loading
{
	height: 100px;
}

.loading img
{
	animation: loadingFade 0.75s ease-in-out 0s infinite;
}

#main-navbar
{
	width: 100%;
	height: 75px;
	background-color: white;

	display: flex;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#main-navbar .searchbar-container
{
	position: relative;
}

#main-navbar .searchbar-container .arrow
{
	top: 125%;
	right: 50%;
	margin-right: -5px;
}

#main-navbar .search
{
	width: 240px;
	background-color: #FAFAFA;
	font-size: 1.125em;

	padding: 0.125rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
#main-navbar .search::placeholder
{
	text-align: center;
	position: relative;
}
#main-navbar .search:focus::placeholder
{
	text-align: left;
}
#main-navbar.search:focus-visible
{
	outline: none;
}

#main-navbar .search-list
{
	width: 325px;
	height: 325px;
	max-height: 325px;
	background-color: white;
	overflow-y: auto;
	
	position: absolute;
	top: calc(125% + 5px);
	right: 50%;
	
	margin-right: -162.5px;
	border-radius: 5px;
}

#main-navbar .search-list .recent
{
	height: 50px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

#main-navbar .search-list .loading
{
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12.5px 0 0 -12.5px;
}

#main-navbar .search-list li a
{
	display: flex;
	position: relative;
	padding: 0.5rem 1rem;
}
#main-navbar .search-list li:hover
{
	background-color: rgba(0, 0, 0, 0.025);
}
#main-navbar .search-list li:active
{
	background-color: rgba(0, 0, 0, 0.05);
}

#main-navbar .search-list li .img-container
{
	height: 50px;
	width: 50px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.75rem;
}

#main-navbar .search-list li .info
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#main-navbar .search-list li .info .real-name
{
	color: #8e8e8e;
}
#main-navbar .search-list li .info .username
{
	font-weight: bold;
}

#main-navbar .search-list .remove
{
	width: 16px;
	height: 16px;
	filter: invert(80%) sepia(0%) saturate(231%) hue-rotate(242deg) brightness(80%) contrast(85%);
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -8px;
}
#main-navbar .search-list .remove svg
{
	width: 100%;
	height: 100%;
}

#main-navbar > ul
{
	width: 12.5%;
	display: flex;
	justify-content: space-between;
}

#main-navbar > ul li
{
	display: flex;
	align-items: center;
}

#main-navbar .logo
{
	height: 70%;
}

#main-navbar li .icon
{
	width: 30px;
	height: 30px;
}

#main-navbar li.profile
{
	position: relative;
}

#main-navbar li.profile > .icon
{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}

#main-navbar .profile .dropdown-container
{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#main-navbar .profile .dropdown.closed
{
	transform-origin: top;
	animation: fadeOut 0.125s ease-in-out 0s forwards, foldUp 0.125s ease-in-out 0s forwards;
}

#main-navbar .profile .dropdown
{
	width: 225px;
	background-color: white;

	position: absolute;
	top: 125%;
	right: -137.5%;

	border-radius: 7.5px;
}

#main-navbar .profile .dropdown .arrow
{
	right: 22.5%;
	top: -5px;
}

#main-navbar .profile .dropdown ul li
{
	height: 50px;
	padding-left: 1rem;
	position: relative;
	z-index: 999;
}
#main-navbar .profile .dropdown ul li:hover
{
	background-color: rgba(0, 0, 0, 0.025);
}
#main-navbar .profile .dropdown ul li:active
{
	background-color: rgba(0, 0, 0, 0.05);
}

#main-navbar .profile .dropdown ul li a
{
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 0.9em;
	display: flex;
	align-items: center;
}
#main-navbar .profile .dropdown ul li a .icon
{
	width: 24px;
	height: 24px;
	transform: scale(0.9);
	margin-right: 0.5rem;
}

#main-navbar .profile .dropdown ul li.log-out
{
	cursor: pointer;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.snackbar
{
	z-index: 99999999999999 !important;
}

@keyframes loadingFade
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0.5;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes fadeOut
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

@keyframes foldUp
{
	100%
	{
		transform: rotateX(45deg);
	}
}
