*,
*::before,
*::after
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.outlined
{
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.outlinedhalf
{
	border: 1.5px solid rgba(0, 0, 0, 0.125);
}
.round
{
	border-radius: 25px;
}
.disabled
{
	cursor: unset !important;
	pointer-events: none;
	opacity: 0.5;
}

html, body
{
	height: 100%;
	font-family: "Montserrat";
}

#root
{
	height: 100%;
}

a
{
	text-decoration: none;
}

li
{
	list-style: none;
}

img
{
	height: 100%;
}
